<html>
    <head>
      {% if title %}
      <title>{{ title }} - Automotive-Reviewer</title>
      {% else %}
      <title>AutoReviewer</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div>Auto Reviewer</div>
        <div>Ask about a car brand (e.g., 'Is Honda reliable?')</div>
        <div>Available brands to ask about: Honda, Toyota, Subaru, Jeep, BMW, Mazda, Tesla, Dodge, Ford, Chevrolet</div>
        <hr>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
        
        {% block content %}{% endblock %}
        {% if answer %}
        <p class="lead my-4" style="color: blue">
           Answer = {{ answer }}
        </p>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <br>
    </body>
</html>